/* Estilos generales del body */
body {
  background-color: #7a82c7; /* Color de fondo claro */
  color: #212529; /* Color de texto oscuro */
  font-family: 'Inter', sans-serif;
}

/* Estilos del h1 */
h1 {
  font-size: 2.5rem; /* Tamaño del texto */
  color: #ffffff; /* Color oscuro */
}

/* Estilos para los contenedores de las tarjetas */
.card {
  background-color: #090f69; /* Fondo oscuro para las tarjetas */
  color: #fff; /* Color del texto blanco */
  border-radius: 30px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  margin-bottom: 20px; /* Espaciado externo inferior */
}

/* Estilos para los botones */
.btn {
  font-size: 1rem; /* Tamaño del texto */
  padding: 10px 50px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */ 
  border: none; /* Sin borde por defecto */
  transition: background-color 0.3s, border-color 0.3s; /* Transiciones suaves */
}

/* Botón primario */
.btn-primary {
  background-color: #124118; /* Color de fondo azul */
  color: #fff; /* Color del texto blanco */
}

.btn-primary:hover {
  background-color: #7e7f80; /* Color de fondo más oscuro en hover */
}

/* Botón secundario */
.btn-secondary {
  background-color: #642727; /* Color de fondo gris */
  color: #fff; /* Color del texto blanco */
}

.btn-secondary:hover {
  background-color: #2b2e31; /* Color de fondo más oscuro en hover */
}

/* Botón exitoso */
.btn-success {
  background-color: #095369; /* Color de fondo verde */
  color: #fff; /* Color del texto blanco */
}

.btn-success:hover {
  background-color: #2b2e31; /* Color de fondo más oscuro en hover */
}

/* Botón peligroso */
.btn-danger {
  background-color: #dc3545; /* Color de fondo rojo */
  color: #fff; /* Color del texto blanco */
}

.btn-danger:hover {
  background-color: #c82333; /* Color de fondo más oscuro en hover */
}

/* Estilos específicos del editor */
.editor-react {
  margin: 0 auto; /* Centra el editor */
}
